.modal-bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    transition: background-color 0.5s;
    z-index: 900;
}


.modal{
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 0px #000000;

    border-radius: 5px;
    border: double 1px transparent;
    background-color: #222222;
    background-image: linear-gradient(#f2f7f7, #f2f7f7), radial-gradient(circle at top left, #037f8c, #03464d);
    background-origin: border-box;
    background-clip: content-box, border-box;

    font-size: 14px;

    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);



    z-index: 1000

}

.modal-title{
    color: #000; 
    font-size: 16px;
    margin: 15px;
}

.modal-content{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1em;
    flex-direction: column;
    box-sizing: border-box;
}

.structure-informations{
    max-height: 30em;
    overflow-y: auto;

    
}




/*BUTTONS*/

.modal-buttons{
    
    display: flex;    
    justify-self: flex-end;
    align-self: flex-end;
    flex-wrap: wrap;
}
