

.structure-space{
    display: flex;
    background-color: white;
    min-height: 50%;
    max-width: 80%;
    border-radius: 15px;
    box-shadow: 20px 10px #deddd9;
}

.clearBtn{
    margin-top: 10px;
}

.DLLcontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
}

@media screen and (max-width: 900px) {
    .structure-space{
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 50px;
    }
}


