
.node{
    height: 55px;
    width: 80px;
    border: 1px solid #000000;
    /**/margin-left: 40px; 
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    position: relative;
}

.found{
    border: 3px solid orange;
}

.node .value{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #535252;
}


.arrows{
    position: absolute;
    align-self: flex-start;
    top: 5px;
    left: -35px;
}

