.navbar{
    position: fixed;
    width: 100%;
    background-color: #34a4eb;
    top: 0;
    border-bottom: 3px solid #216691;
    height: 50px;
}

.navbar-content{
    width: 100%;
}

.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: 50px;    
}

.nav-item:nth-child(2){
    border-left: 1px solid#04336b;
    border-right: 1px solid#04336b;
}

.nav-item{
    padding: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: .5s all ease;
}

.nav-item {
    text-decoration: none;
    color: #000000;
}

.nav-item:hover, .active-item{
    background-color:#2893d1;

    transition: .5s all ease;
}




